* {
    margin: 0;
    padding: 0px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui: Logo | Menu | WhatsApp */
    background: #8b0101;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    z-index: 1000;
}

h2 {
    margin: auto;
    text-align: center;
    font-size: 2.2em;
    padding-bottom: 25px;
}

.menu {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.menu a {
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    color: white;
    position: relative;
    transition: all 0.3s ease-out;
}

.menu a:hover {
    text-decoration: underline;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("justiça.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.secao {
    padding: 100px 10% 80px;
    background: white;
}


#banner {
    width: 65%;
    padding: auto;
}

.section-info{
    font-size: 2em;
    text-align: justify;
    padding: 25px;
}

.line {
    width: 80%;
    background-color: black;
    height: 2px;
    margin: auto;
    margin-bottom:45px;
}

.container {
    padding: 10px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container-equipe {
    background-color: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    border: 1px solid  #8b0101;
}

.container-equipe:hover {
    transform: translateY(-10px);
}

#container-foto {
    width: 100%;
    padding: none;
    margin: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-equipe-nome {
    font-size: 1.7em;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #8b0101;

}

.container-equipe-sub {
    font-size: 1.2em;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #8b0101;
    padding: 10px;
}


.container-equipe-info {
    font-size: 1.2em;
    margin-left: 5px;
    color: black;
    padding-bottom: 15px;
    padding: 10px;
}

